<div class="container my-5">
    <div class="row my-3">
        <div class="col-md-12">
            <h2 class="Title-table">
                Users DataBase
            </h2>
        </div>
    </div>
    <div class="row my-3 justify-content-start ">
        <div class="col-md-3 text-left">
            <!-- <a type="button" [routerLink]="['adduser']" class="btn btn-add-user  ">
                <i class="fas fa-user-plus pr-3"></i> create new user
            </a> -->
            <button type="button" (click)="oncreate()" data-toggle="modal" [attr.data-target]="showexampleModal" class="btn btn-add-user  ">
                <i class="fas fa-user-plus pr-3"></i> create new user
            </button>
            <!-- <app-modeladd (onsubmitedform)="onshow()"></app-modeladd> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12   my-3">
            <table class="table ">
                <thead class="Table-header">
                    <tr>

                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Birthdate</th>
                        <th>E-mail</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="style-body" *ngFor="let item of datatable;let i=index;">

                        <th class="text-body-table">{{i+1}}</th>
                        <td class="text-body-table">{{item.name.firstname}}</td>
                        <td class="text-body-table">{{item.name.lastname}}</td>
                        <td class="text-body-table">{{item.birthdate}}</td>
                        <td class="text-body-table">{{item.email}}</td>
                        <td class="text-body-table">{{item.phone}}</td>
                        <td class="text-body-table">{{item.address}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="style-btn  dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                              <i class="fas fa-user-cog" style="font-size: 16px!important;"></i>
                        </button>
                                <ul class="dropdown-menu">
                                    <li class="btn-setting-show">
                                        <a [routerLink]="['UserDetails', item.id]" class="   py-2 px-2 mx-2 ">
                                            <i class="fas fa-eye pr-1"></i> show
                                        </a>
                                    </li>
                                    <li class="btn-setting-edit">
                                        <a [routerLink]="['edituser', item.id]" class="   py-2 px-2 mx-2 ">
                                            <i class="fas fa-user-edit pr-1"></i> Edit
                                        </a>
                                    </li>
                                    <li class="btn-setting-edit">
                                        <a type="button" (click)="oneditModal(item.id)" data-toggle="modal" [attr.data-target]="showexampleModal" class="    py-2 px-2 mx-2 ">
                                            <i class="fas fa-user-edit pr-1"></i> Edit with Modal
                                        </a>
                                    </li>
                                    <li class="btn-setting-delete">
                                        <a (click)="removeUser(i)" class="py-2 px-2 mx-2 ">
                                            <i class="fas fa-trash-alt pr-1"></i> Remove
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>

<app-modeladd></app-modeladd>